body {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.wrapper {
  max-width: 500px;
  margin: auto;
  perspective: 1000px;
}

.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
}

.footer-inner {
  width: 500px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 90%;
    margin: auto;
  }
}

.tweet-container {
  position: relative;
  margin-top: 25px;
  max-width: 550px;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}


/* Reverse engineered from twitter embed CSS */

.tweet-outer {
  width: 100%;

  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 5px;

  font: normal normal 16px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
  color: #1c2022;
  -webkit-font-smoothing: auto;
}

.tweet {
  padding: 20px 20px 11.6px 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tweet-header {
  display: flex;
}

.tweet-avatar {
  height: 36px;
  background-color: transparent;
  margin-right: 9px;
}

.tweet-avatar img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.tweet-screenname-name {
  font-weight: 700;
}

.tweet-screenname-name:hover {
  color: #2b7bb9
}

.tweet-screenname-account {
  font-size: 14px;
  color: #697882;
}

.tweet-verified-screenname {
  width: 1.11111em;
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h64v72H0z%22%2F%3E%3Cpath%20fill%3D%22%231da1f2%22%20d%3D%22M3%2037.315c0%204.125%202.162%207.726%205.363%209.624-.056.467-.09.937-.09%201.42%200%206.103%204.72%2011.045%2010.546%2011.045%201.295%200%202.542-.234%203.687-.686C24.22%2062.4%2027.827%2064.93%2032%2064.93c4.174%200%207.782-2.53%209.49-6.213%201.148.45%202.39.685%203.69.685%205.826%200%2010.546-4.94%2010.546-11.045%200-.483-.037-.953-.093-1.42C58.83%2045.04%2061%2041.44%2061%2037.314c0-4.37-2.42-8.15-5.933-9.946.427-1.203.658-2.5.658-3.865%200-6.104-4.72-11.045-10.545-11.045-1.302%200-2.543.232-3.69.688-1.707-3.685-5.315-6.216-9.49-6.216-4.173%200-7.778%202.53-9.492%206.216-1.146-.455-2.393-.688-3.688-.688-5.827%200-10.545%204.94-10.545%2011.045%200%201.364.23%202.662.656%203.864C5.42%2029.163%203%2032.944%203%2037.314z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M17.87%2039.08l7.015%206.978c.585.582%201.35.873%202.116.873.77%200%201.542-.294%202.127-.883.344-.346%2015.98-15.974%2015.98-15.974%201.172-1.172%201.172-3.07%200-4.243-1.17-1.17-3.07-1.172-4.242%200l-13.87%2013.863-4.892-4.868c-1.174-1.168-3.074-1.164-4.242.01-1.168%201.176-1.163%203.075.01%204.244z%22%2F%3E%3C%2Fsvg%3E);
  display: inline-block;
  height: 1.25em;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: text-bottom;
}

.tweet-brand {
  margin-left: auto;
}

.tweet-brand-pic {
  width: 1.25em;
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%231da1f2%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
  display: inline-block;
  height: 1.25em;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: text-bottom;
}

.tweet-info {
  display: flex;
  margin-top: 10.4px;
  font-size: 14px;
  color: #697882;
}

.tweet-heart:hover {
  color: #E0245E;
  text-decoration: none;
}

.tweet-heart-icon {
  width: 1.25em;
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23697882%22%20d%3D%22M12%2021.638h-.014C9.403%2021.59%201.95%2014.856%201.95%208.478c0-3.064%202.525-5.754%205.403-5.754%202.29%200%203.83%201.58%204.646%202.73.813-1.148%202.353-2.73%204.644-2.73%202.88%200%205.404%202.69%205.404%205.755%200%206.375-7.454%2013.11-10.037%2013.156H12zM7.354%204.225c-2.08%200-3.903%201.988-3.903%204.255%200%205.74%207.035%2011.596%208.55%2011.658%201.52-.062%208.55-5.917%208.55-11.658%200-2.267-1.822-4.255-3.902-4.255-2.528%200-3.94%202.936-3.952%202.965-.23.562-1.156.562-1.387%200-.015-.03-1.426-2.965-3.955-2.965z%22%2F%3E%3C%2Fsvg%3E);
  display: inline-block;
  height: 1.25em;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: text-bottom;
}

.tweet-heart-stat {
  margin-left: 3px;
}

.tweet-time {
  margin-left: 12px;
}

.tweet-time:hover {
  color: #2b7bb9
}

.tweet-info-icon {
  margin-left: auto;
  height: 18px;
  width: 18px;
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23697882%22%20d%3D%22M12%2018.042c-.553%200-1-.447-1-1v-5.5c0-.553.447-1%201-1s1%20.447%201%201v5.5c0%20.553-.447%201-1%201z%22%2F%3E%3Ccircle%20class%3D%22icon%22%20fill%3D%22%23697882%22%20cx%3D%2212%22%20cy%3D%228.042%22%20r%3D%221.25%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23697882%22%20d%3D%22M12%2022.75C6.072%2022.75%201.25%2017.928%201.25%2012S6.072%201.25%2012%201.25%2022.75%206.072%2022.75%2012%2017.928%2022.75%2012%2022.75zm0-20C6.9%202.75%202.75%206.9%202.75%2012S6.9%2021.25%2012%2021.25s9.25-4.15%209.25-9.25S17.1%202.75%2012%202.75z%22%2F%3E%3C%2Fsvg%3E);
  display: inline-block;
  height: 1.25em;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: text-bottom;
}
